.section-article {
    background-image: url("../images/article_bg_img.png");
    background-size: cover;
    background-position: 68% bottom;
}
.article {
    display: flex;
    flex-direction: column;
    gap: 90px;
    @include max-lg{
        gap: 60px;
    }
    
    &-meta {
        @extend .frame;
        border-width: 2.5px 0px 2.5px 0px;
        height: 74px;
        margin: 26px 0 40px;
        padding: 16px 30px;
        background-color: rgb(44 36 67);
        @include max-lg {
            flex-direction: column;
            gap: 20px;
            height: auto;
            padding: 16px 20px;
        }
        
    }
    &__main-image {
        max-width: 525px;
        margin-right: 35px;
        @include max-lg{
            max-width: 100%;
            margin-right: 0;
        }
        & img {
            width: 100%;
        }
    }
    &__image {
        max-width: 370px;
        margin-right: 0;
        margin-left: auto;
        @include max-lg{
            max-width: 100%;
        }
        
    }
    & .time {
        background: linear-gradient(339.93deg, #db2efe 8.22%, #6c37b1 57.47%, #430877 125.48%);
        box-shadow: 0px 3px 0px 0px #ffffff66;
        box-shadow: 0px -3px 0px 0px #ffffff66;
        box-shadow: 0px 0px 25.4px 0px #c02bea;
        padding: 5px 30px;
        font-family: $Font-Roboto;
        font-size: 14px;
        font-weight: 500;
        line-height: 17.64px;
        @extend .frame;
        border-width: 2.5px 0px 2.5px 0px;
        border-radius: 5px;
        @include max-lg{
            width: 50%;
            text-align: center;
        }
        @include max-sm{
            width: 100%;
        }
        
    }

    & .text {
        font-family: $Font-Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 20.16px;
        color: #c6c8d9;
        @include max-lg{
            width: 50%;
            text-align: center;
        }
        
    }
    .text-author {
        font-family: $Font-Roboto;
        font-size: 20px;
        font-weight: 400;
        line-height: 25.2px;
        color: #fff;
        @include max-sm{
            width: 100%;
        }
        
    }
    & p {
        font-family: $Font-Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 22.24px;
        margin-top: 20px;
        & a {
            color: #22ac97;
            text-decoration: underline;
        }
    }
    & ul {
        list-style-type: disc;
    }
    & ul, ol {
        padding-left: 15px;
        & li {
            font-family: $Font-Roboto;
            font-size: 16px;
            font-weight: 800;
            line-height: 22.24px;
            margin-top: 20px;
            & a {
                color: #22ac97;
                text-decoration: underline;
            }
        }
    }
    &__title {
        font-family: $Font-Roboto;
        font-size: 32px;
        font-weight: 700;
        line-height: 44.48px;
        color: #fff;
    }
}
.btn-share {
    padding: 0;
}
.btn-share svg {
    border-radius: 50%;
    box-shadow: 0px 0px 18.1px 0px #22ac97b5;
}
.actions {
    background: linear-gradient(90deg, #22b36f 0%, #d0263c 100%);
    border-radius: 90px;
    padding: 9px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    box-shadow: 0px 0px 18.1px 0px rgba(34, 172, 151, 0.7098039216);
    gap: 28px;
    &__bg {
        position: absolute;
        left: -16px;
        top: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        z-index: 0;
        object-fit: contain;
        max-width: 250px;
    }
    &__divider {
        width: 1px;
        height: 32px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        margin: auto;
        background-color: #fff;
        opacity: 0.28;
    }
    & span {
        position: relative;
        z-index: 2;
        font-family: $Font-Roboto;
    }
}
