.section-blog {
  position: relative;
  width: 100%;
  height: 100%;
  background: url('../images/blog-bg.jpg') no-repeat center/cover;
  &::after {
    content: '';
    width: 100%;
    height: 420px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: url('../images/streams-revers.png') no-repeat center/cover;
    transform: rotate(-180deg);
    z-index: 1;
  }
}
.blogPage {
  &__sort {
    width: 100%;
    height: 74px;
    padding: 20px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @extend .frame;
    border-width: 2.5px 0 2.5px 0;
    border-radius: 15px;
    margin-bottom: 40px;
  }
  &__title {
    margin-bottom: 40px;
  }
  &__sort-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: $Font-Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.16px;
    text-align: center;
    background: transparent;
    border: none;
    @media (max-width: 530px) {
      
    }
    &::before {
      content: '';
      width: 35px;
      height: 35px;
      background: url('../images/sort-icon.svg') no-repeat center/cover;
    }
    &::after {
      content: '';
      width: 15px;
      height: 8px;
      border-top: 0;
      background: url('../images/arr-down.svg') no-repeat center/cover;
      @media (max-width: 530px) {
        display: none;
      }
    }
    & h3 {
      font-family: $Font-Roboto;
      font-size: 16px;
      font-weight: 400;
      line-height: 20.16px;
      text-align: center;
      @media (max-width: 530px) {
        display: none;
      }
    }
    & span {
      font-family: $Font-Roboto;
      font-size: 16px;
      line-height: 20.16px;
      text-align: center;
      font-weight: 500;
      color: $color-hover-link;
      @media (max-width: 530px) {
        display: none;
      }
    }
  }
  &__count {
    font-family: $Font-Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.16px;
    text-align: center;
    & span {
      color: $color-hover-link;
    }
  }
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 40px;
    @media (max-width: 1120px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 800px) {
      grid-template-columns: 1fr;
    }
  }
}