.offers {
  position: relative;
  &__casino-phone {
    display: none;
    @media (max-width: 992px) {
      display: block;
      margin: 0 auto;
      margin-bottom: 15px;
      padding: 15px;
      max-width: 400px;
      height: 225px;
      background: url("../images/casino-phone.png") no-repeat center/ contain;
      & img {
        width: 312px;
      }
    }
  }
  &__casino {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 45px;
    width: 100%;
    border-radius: 40px;
    background: url("../images/casino.png") no-repeat center/cover;
    margin-bottom: 65px;
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 120px;
      bottom: -120px;
      left: 0;
      background: url("../images/streams-revers.png") no-repeat center/cover;
      @media (max-width: 992px) {
        display: none;
      }
    }
    @media (max-width: 992px) {
      background: transparent;
      padding: 0;
    }
    &__web-bloc {
      display: block;
      @media (max-width: 992px) {
        display: none;
      }
    }
    &__text {
      font-family: $Font-Roboto;
      font-size: 20px;
      font-weight: 700;
      line-height: 25.2px;
      text-align: center;
      margin-bottom: 35px;
      & span {
        color: $color-hover-link;
      }
    }
    &__phone-bloc {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  &__items {
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    @media (max-width: 992px) {
      gap: 10px;
    }
  }
  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 15px;
    width: 275px;
    height: 170px;
    text-align: center;
    border-width: 2.5px 0 2.5px 0;
    @extend .frame;
    backdrop-filter: blur(10px);
    cursor: pointer;
    transition: $transition;
    &:hover {
      transition: $transition;
      scale: 105%;
    }
    @media (max-width: 992px) {
      width: 189px;
      padding: 10px;
    }
    &:before {
      content: "";
      position: absolute;
      top: 35px;
      left: 50%;
      transform: translateX(-50%);
      width: 130px;
      height: 110px;
      background: url("../images/web-small.png") no-repeat center/contain;
      z-index: 0;
      opacity: 0.7;
      @media (max-width: 992px) {
        top: -23px;
        background: url("../images/web-small-phone.png") no-repeat center/contain;
      }
    }
    & img {
      width: 80px;
      height: 80px;
      z-index: 10;
    }
    &__text {
      font-family: $Font-Roboto;
      font-size: 16px;
      font-weight: 600;
      line-height: 20.16px;
      text-align: center;
    }
  }
  & .btn-opacity,
  a.btn-opacity {
    width: 300px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
