.reviewsPage {

    & .sort {
        margin-top: 64px;
        @include max-lg{
            margin-top: 30px;
        }
        
    }
    & .pagination {
        margin-top: 64px;
        @include max-lg{
            margin-top: 30px;
        }
        
    }
    
}