  //colors
  $color-main-text: rgba(249, 250, 251, 1);
  $color-bg-gradient: linear-gradient(0deg, #DB2EFE 8.22%, #6C37B1 57.47%, #430877 125.48%);
  $color-hover-link: rgba(34, 178, 154, 1);
  $color-body: #0F0926;
  $color-btn-main: rgba(34, 178, 154, 1);




  //transform
  $transition: 0.3s all ease-in-out;
  //shadow
  $shadow-btn: 0 0 250px 10px rgba(216, 88, 248, 1);

  // font
  $Font-Roboto: Roboto, sans-serif;