@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: Roboto, sans-serif;
  src: url("../../fonts/Roboto/Roboto-Light.ttf");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Roboto, sans-serif;
  src: url("../../fonts/Roboto/Roboto-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Roboto, sans-serif;
  src: url("../../fonts/Roboto/Roboto-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Roboto, sans-serif;
  src: url("../../fonts/Roboto/Roboto-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Roboto, sans-serif;
  src: url("../../fonts/Roboto/Roboto-ExtraBold.ttf");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Roboto, sans-serif;
  src: url("../../fonts/Roboto/Roboto-Black.ttf");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: AA Duke, sans-serif;
  src: url("../../fonts/AADuke/AADuke-Fill.woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Inter, sans-serif;
  src: url("../../fonts/Inter/static/Inter_18pt-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Inter, sans-serif;
  src: url("../../fonts/Inter/static/Inter_18pt-Medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Gilroy, sans-serif;
  src: url("../../fonts/Gilroy/Gilroy-ExtraBold.otf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
.frame, .blogPage__sort, .pagination, .sort, .article .time, .article-meta, .form .select-wrapper, .form textarea, .form input:not([type=radio]), .reviews__slide, .reviews, .offers__item, .partners__training, .partners__item, .seo, .banner, .article-card {
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.4);
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.1);
}

.container {
  margin: 0 auto;
  max-width: 1340px;
  padding: 0 20px;
  position: relative;
}

body.no-scroll {
  overflow: hidden;
}

.bg-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 99;
}

.main {
  position: relative;
  width: 100%;
  background: url("../images/main-bg.jpg") no-repeat center/cover;
  opacity: 0.9;
}

.title {
  display: block;
  font-family: AA Duke;
  font-size: 128px;
  font-weight: 400;
  line-height: 128px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 15px;
  text-align: center;
}
@media (max-width: 992px) {
  .title {
    text-align: center;
    font-size: 62px;
    line-height: 60px;
  }
}
.title span {
  color: #22AC97;
  font-size: 90px;
  line-height: 120px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
@media (max-width: 992px) {
  .title span {
    font-size: 52px;
    line-height: 40px;
  }
}

.title-line {
  position: relative;
}
.title-line::after {
  content: "";
  width: 55%;
  height: 1px;
  background-color: rgb(53, 210, 231);
  position: absolute;
  top: -10px;
  right: 0;
}
@media (max-width: 580px) {
  .title-line::after {
    display: none;
  }
}
.title-line::before {
  content: "";
  width: 55%;
  height: 1px;
  background-color: rgba(250, 112, 136, 0.9);
  position: absolute;
  top: 0px;
  left: 0;
}
@media (max-width: 580px) {
  .title-line::before {
    display: none;
  }
}

.subtitle {
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  color: rgb(198, 200, 217);
  margin-bottom: 80px;
}
@media (max-width: 992px) {
  .subtitle {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 30px;
    text-align: center;
  }
}

.section-title {
  font-family: Roboto, sans-serif;
  font-size: 60px;
  font-weight: 600;
  line-height: 70.8px;
  color: #fff;
}
.section-title span {
  color: #22ac97;
}
@media (max-width: 992px) {
  .section-title {
    font-size: 32px;
    line-height: 40px;
  }
}

.p-b {
  padding-bottom: 120px;
}
@media (max-width: 992px) {
  .p-b {
    padding-bottom: 60px;
  }
}

.streams {
  width: 100%;
  height: 220px;
  object-fit: cover;
  object-position: center;
}
@media (max-width: 992px) {
  .streams {
    height: 120px;
  }
}

.slider-wrapper {
  position: relative;
}

.slick-track {
  display: flex;
}

.slick-slide:last-child {
  margin-right: 0;
}

.slick-dots {
  margin: 0 auto;
  margin-top: 30px;
  width: fit-content;
  height: 30px;
  display: flex;
  justify-content: center;
  padding: 10px;
  background: rgba(54, 28, 89, 0.9);
  border-radius: 30px;
}

.slick-dots li {
  margin: 0 3px;
}

.slick-dots li button {
  border: none;
  background: transparent;
  padding: 0;
  width: auto;
  height: auto;
  position: relative;
}

.slick-dots li button::before,
.slick-dots li button::after {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  background-color: rgba(0, 128, 0, 0.2);
  border-radius: 50%;
}

.slick-dots li button::after {
  content: none;
}

.slick-dots li.slick-active button::before {
  background-color: rgb(34, 178, 154);
  opacity: 1;
}

.slick-dots button {
  font-size: 0;
}

.slick-prev,
.slick-next {
  position: absolute;
  bottom: 0;
  background-color: transparent;
  border: none;
  width: 14px;
  height: 25px;
  background-size: contain;
  background-repeat: no-repeat;
}

.slick-prev {
  background-image: url("../images/arr-prev.svg");
  left: 30%;
}
@media (max-width: 992px) {
  .slick-prev {
    left: 20%;
  }
}

.slick-next {
  background-image: url("../images/arr-next.svg");
  right: 30%;
}
@media (max-width: 992px) {
  .slick-next {
    right: 20%;
  }
}

.reviews .slick-track {
  position: relative;
  align-items: center;
}

.reviews .slick-current {
  margin: 80px 0;
  position: relative;
  z-index: 10;
  transition: opacity 0.3s;
  height: 510px;
  opacity: 1;
  box-shadow: 0 0 5px 5px rgba(216, 88, 248, 0.2);
  background: linear-gradient(-55deg, #DB2EFE 8.22%, #6C37B1 57.47%, #430877 125.48%);
}
.reviews .slick-current::after {
  content: "";
  width: 100%;
  height: 80px;
  position: absolute;
  left: 0;
  bottom: -85px;
  background: url("../images/streams-revers.png") no-repeat center/cover;
  z-index: 20;
}
@media (max-width: 650px) {
  .reviews .slick-current {
    height: 450px;
  }
}

.reviews .slick-slide:not(.slick-center) {
  position: relative;
  opacity: 0.5;
  z-index: 1;
}

.reviews .slick-dots {
  margin-top: 0;
}

.our-blog .slick-slide {
  margin-right: 15px;
}

.partner-search__slider {
  position: relative;
}

.partner-search__slider--web {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.partner-search__slider--web .slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

.slick-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-opacity span,
a.btn-opacity span,
.btn-main span {
  font-family: "Days One", sans-serif;
  font-weight: 600;
}

.hide {
  display: none !important;
}

.article-card {
  z-index: 10;
  border-width: 2.5px 0 2.5px 0;
}
.article-card__img {
  width: 100%;
  height: 240px;
  object-fit: cover;
  object-position: center;
  border-radius: 30px;
}
.article-card__wrapper {
  padding: 30px 15px;
}
.article-card__wrapper .btn-opacity,
.article-card__wrapper a.btn-opacity {
  min-width: 80%;
}
.article-card__bloc {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 30px;
}
.article-card__bloc p {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.16px;
  color: rgb(198, 200, 217);
}
.article-card__time {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 15px;
  background: linear-gradient(0deg, #DB2EFE 8.22%, #6C37B1 57.47%, #430877 125.48%);
  border-radius: 5px;
  box-shadow: 0 0 15px 10px rgba(216, 88, 248, 0.3);
}
.article-card__time p {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 17.64px;
}
.article-card__descr {
  font-family: Roboto, sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  text-align: left;
  margin-bottom: 30px;
}

.header {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 60px;
  max-width: 1300px;
  width: 100%;
  height: 82px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(0deg, #DB2EFE 8.22%, #6C37B1 57.47%, #430877 125.48%);
  border-radius: 50px;
  z-index: 100;
}
@media (max-width: 1350px) {
  .header {
    max-width: 98%;
  }
}
@media (max-width: 992px) {
  .header {
    top: 15px;
  }
}
.header__btns-bloc {
  display: flex;
  align-items: center;
  gap: 25px;
}
@media (max-width: 992px) {
  .header__btns-bloc {
    gap: 8px;
  }
}
.header .dropdown-lan .dropdown-toggle {
  width: 80px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #6532AA;
  border: 1px solid rgba(74, 28, 143, 0.4117647059);
}
@media (max-width: 992PX) {
  .header .dropdown-lan .dropdown-toggle {
    display: none;
  }
}
.header .dropdown-lan--phone .dropdown-toggle {
  display: none;
}
@media (max-width: 992px) {
  .header .dropdown-lan--phone .dropdown-toggle {
    display: flex;
    margin: 0 auto;
  }
}
.header .lan-icon {
  padding-right: 6px;
}
.header .lan {
  padding-left: 6px;
  border-left: 1px solid rgba(74, 28, 143, 0.4117647059);
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}
.header .dropdown-toggle::after {
  display: none;
}
.header .dropdown-lan .dropdown-menu {
  width: 80px;
  background: rgba(74, 28, 143, 0.4117647059);
}
.header .dropdown-lan .dropdown-menu li > a {
  color: #fff;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}
.header .dropdown-lan .dropdown-menu li > a:hover {
  background: rgb(34, 178, 154);
}
@media (max-width: 992px) {
  .header .navigation {
    display: none;
  }
}
@media (max-width: 992px) {
  .header .logo__img {
    width: 150px;
  }
}

.footer {
  position: relative;
  width: 100%;
  background: linear-gradient(360deg, #9D4EB3 5%, #6C37B1 35%, #310877 83.87%);
}
.footer::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 58px;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.4);
}
@media (max-width: 600px) {
  .footer::after {
    bottom: 170px;
  }
}
.footer__top-wrapper {
  width: 100%;
  height: 134px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .footer__top-wrapper {
    padding: 45px 0;
    height: fit-content;
    flex-direction: column;
    align-items: center;
  }
}
.footer__bot-wrapper {
  width: 100%;
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Roboto, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 18.9px;
}
@media (max-width: 600px) {
  .footer__bot-wrapper {
    height: fit-content;
    padding: 45px 0;
    flex-direction: column;
    gap: 30px;
  }
}
.footer__bot-wrapper_links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
.footer__bot-wrapper_links a {
  text-decoration: underline;
}
@media (max-width: 992px) {
  .footer .navigation {
    flex-direction: column;
    gap: 13px;
    margin-bottom: 35px;
  }
}
@media (max-width: 992px) {
  .footer .logo__img {
    margin-top: 0;
    width: 200px;
  }
}

.logo__img {
  margin-top: 7px;
  width: 200px;
  object-position: center;
  object-fit: cover;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.navigation a {
  position: relative;
  color: #fff;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  transition: 0.3s all ease-in-out;
}
.navigation a:hover {
  color: rgb(34, 178, 154);
  transition: 0.3s all ease-in-out;
}
.navigation a::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: rgb(34, 178, 154);
  position: absolute;
  bottom: -27px;
  left: 0;
  opacity: 0;
  transition: 0.3s all ease-in-out;
}
.navigation a:hover::after {
  width: 100%;
  transition: 0.3s all ease-in-out;
  opacity: 1;
}

.btn-header {
  width: 175px;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border: 1px solid rgb(34, 178, 154);
  border-radius: 50px;
  background-color: transparent;
  transition: 0.3s all ease-in-out;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
@media (max-width: 1100px) {
  .btn-header {
    width: 55px;
    height: 55px;
  }
}
@media (max-width: 1100px) {
  .btn-header span {
    display: none;
  }
}
.btn-header:hover {
  background-color: rgba(34, 178, 154, 0.3);
  transition: 0.3s all ease-in-out;
}

.btn-main {
  position: relative;
  height: 72px;
  background-color: rgb(34, 178, 154);
  border: 1px solid rgb(34, 178, 154);
  transition: 0.3s all ease-in-out;
  z-index: 10;
  font-family: "Days One", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.37px;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  box-shadow: 0 0 250px 10px rgb(216, 88, 248);
  z-index: 1;
}
.btn-main::after, .btn-main::before {
  content: "";
  position: absolute;
  top: -1px;
  width: 27px;
  height: 72px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.btn-main::after {
  right: -25px;
  background-image: url("../images/btn-main-right.png");
}
.btn-main::before {
  left: -25px;
  background-image: url("../images/btn-main-left.png");
}
.btn-main .btn-main__streams {
  position: absolute;
  width: 100%;
  height: 60px;
  left: 0;
  bottom: -61px;
  z-index: -1;
  object-position: center;
}
.btn-main:hover {
  transition: 0.3s all ease-in-out;
  background-color: transparent;
}

a.btn-opacity,
.btn-opacity {
  position: relative;
  min-width: 300px;
  height: 70px;
  background-color: transparent;
  border: 1px solid rgb(34, 178, 154);
  transition: 0.3s all ease-in-out;
  font-family: "Days One", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.37px;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 992px) {
  a.btn-opacity,
  .btn-opacity {
    min-width: 90%;
  }
}
a.btn-opacity:hover,
.btn-opacity:hover {
  background-color: rgb(34, 178, 154);
  transition: 0.3s all ease-in-out;
}
a.btn-opacity:before, a.btn-opacity::after,
.btn-opacity:before,
.btn-opacity::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 4px;
  height: 50px;
  background-color: rgb(34, 178, 154);
}
a.btn-opacity:before,
.btn-opacity:before {
  left: -5px;
}
a.btn-opacity::after,
.btn-opacity::after {
  right: -5px;
}

.btn-play {
  background: transparent;
  cursor: pointer;
}
.btn-play img {
  width: 163px;
  height: 162px;
  object-fit: cover;
  background: transparent;
}
.btn-play:hover {
  scale: 103%;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
.social a svg path {
  fill: #C6C8D9;
  transition: 0.3s all ease-in-out;
}
.social a:hover svg path {
  transition: 0.3s all ease-in-out;
  fill: rgb(34, 178, 154);
}

.banner {
  position: relative;
  width: 100%;
  height: 870px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-width: 0 0 2.5px 0;
}
@media (max-width: 1500px) {
  .banner {
    height: 800px;
  }
}
@media (max-width: 700px) {
  .banner {
    height: 850px;
  }
}
@media (max-width: 580px) {
  .banner {
    height: 900px;
  }
}
.banner::after {
  content: "";
  width: 100%;
  height: 255px;
  position: absolute;
  bottom: -255px;
  left: 0;
  background-image: url("../images/streams.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -1;
}
@media (max-width: 992px) {
  .banner::after {
    height: 110px;
    bottom: -110px;
  }
}
.banner__frog {
  position: absolute;
  bottom: 0;
  right: 0;
}
@media (max-width: 1500px) {
  .banner__frog {
    width: 900px;
  }
}
@media (max-width: 1300px) {
  .banner__frog {
    width: 700px;
  }
}
@media (max-width: 992px) {
  .banner__frog {
    width: 600px;
  }
}
@media (max-width: 490px) {
  .banner__frog {
    width: 420px;
  }
}
.banner__wrapper {
  padding-top: 15%;
  max-width: 750px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 992px) {
  .banner__wrapper {
    padding-top: 20%;
  }
}
@media (max-width: 700px) {
  .banner__wrapper {
    padding-top: 30%;
  }
}
@media (max-width: 480px) {
  .banner__wrapper {
    padding-top: 35%;
  }
}
.banner__title {
  font-family: Roboto, sans-serif;
  font-size: 63px;
  font-weight: 700;
  line-height: 79.38px;
  margin-bottom: 30px;
}
.banner__title span {
  color: #D858F8;
}
@media (max-width: 992px) {
  .banner__title {
    font-size: 32px;
    line-height: 40.32px;
    text-align: left;
    margin-bottom: 25px;
  }
}
.banner__descr {
  margin-bottom: 60px;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: rgb(198, 200, 217);
}
@media (max-width: 992px) {
  .banner__descr {
    font-size: 15px;
    line-height: 22.5px;
    margin-bottom: 45px;
  }
}
.banner .btn-main {
  width: 260px;
  margin-left: 25px;
}

.menu {
  position: absolute;
  top: 85px;
  left: 50%;
  transform: translateX(-50%);
  height: fit-content;
  width: 95vw;
  background: linear-gradient(180deg, #DB2EFE 8.22%, #6C37B1 57.47%, #430877 125.48%);
  z-index: 9999;
  padding: 30px;
  display: none;
  text-align: center;
  border-radius: 50px;
}

.menu li {
  text-decoration: none;
  list-style-type: none;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.menu li a {
  padding-top: 3em;
  text-decoration: none;
  color: white;
}

.burger-menu {
  width: 55px;
  height: 55px;
  display: none;
  position: relative;
  cursor: pointer;
  margin-right: 10px;
  padding: 15px;
  border-radius: 100%;
  background-color: rgb(34, 178, 154);
}
@media (max-width: 992px) {
  .burger-menu {
    display: block;
  }
}

.bar {
  transition: 0.3s all ease-in-out;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.bar-1 {
  width: 100%;
  border-top: 2px solid white;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}

.bar-2 {
  width: 100%;
  border-top: 2px solid white;
  display: fixed;
  transition: 0.3s all ease-in-out;
}

.bar-3 {
  width: 70%;
  border-top: 2px solid white;
  transition: 0.3s all ease-in-out;
}

.change .bar-1 {
  -webkit-transform: rotate(-45deg) translate(-10px, 5px);
  transform: rotate(-45deg) translate(-8px, 8px);
}

.change .bar-2 {
  opacity: 0;
}

.change .bar-3 {
  margin-left: 0;
  width: 100%;
  -webkit-transform: rotate(45deg) translate(-10px, 5px);
  transform: rotate(45deg) translate(-6px, -6px);
}

.seo {
  position: relative;
  width: 100%;
  border-width: 2.5px 0 0 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.seo .title {
  text-align: left;
}
@media (max-width: 992px) {
  .seo .title {
    text-align: center;
  }
}
.seo__frog {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 800px;
  background-image: url("../images/seo-img.png");
  object-position: center;
  object-fit: cover;
}
@media (max-width: 600px) {
  .seo__frog {
    width: 480px;
  }
}
.seo__wrapper {
  display: flex;
  height: 540px;
  flex-direction: column;
  justify-content: center;
  max-width: 800px;
}
@media (max-width: 1400px) {
  .seo__wrapper {
    max-width: 43%;
  }
}
@media (max-width: 992px) {
  .seo__wrapper {
    max-width: 100%;
    height: 800px;
    padding: 45px 0;
    justify-content: start;
  }
}
.seo__descr {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: rgba(198, 200, 217, 0.9);
}

.partners {
  position: relative;
  overflow: hidden;
}
.partners__title {
  text-align: center;
  margin-bottom: 15px;
}
.partners__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  z-index: 1;
  margin-bottom: 170px;
}
@media (max-width: 992px) {
  .partners__wrapper {
    flex-direction: column;
    padding-bottom: 550px;
    margin-bottom: 50px;
  }
}
@media (max-width: 560px) {
  .partners__wrapper {
    padding-bottom: 350px;
  }
}
.partners__items {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  z-index: 10;
}
@media (max-width: 992px) {
  .partners__items {
    width: 100%;
  }
}
.partners__items .btn-main {
  margin: 0 auto;
  margin-top: 30px;
  width: 335px;
}
@media (max-width: 992px) {
  .partners__items .btn-main {
    width: 80%;
  }
}
.partners__item {
  position: relative;
  padding: 15px 15px 15px 150px;
  width: 100%;
  min-height: 145px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  border-width: 2.5px 0px 2.5px 0px;
  z-index: 11;
}
@media (max-width: 992px) {
  .partners__item {
    padding: 10px 10px 10px 120px;
    min-height: 100px;
  }
}
.partners__item__img {
  position: absolute;
  top: -10px;
  left: -50px;
  width: 215px;
  object-fit: contain;
  object-position: center;
}
@media (max-width: 992px) {
  .partners__item__img {
    width: 150px;
    top: -8px;
    left: -30px;
  }
}
.partners__item p {
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 29.4px;
  text-align: left;
}
@media (max-width: 992px) {
  .partners__item p {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 20.58px;
    text-align: left;
  }
}
.partners__item span {
  color: rgb(34, 172, 151);
}
.partners__video {
  position: absolute;
  right: -200px;
  bottom: 0;
  width: 1000px;
  height: 1000px;
  overflow: hidden;
  background: url("../images/video-frog.png") no-repeat center/cover;
  z-index: -1;
}
@media (max-width: 1200px) {
  .partners__video {
    width: 800px;
    height: 800px;
    right: -150px;
  }
}
@media (max-width: 992px) {
  .partners__video {
    right: 50%;
    left: 50%;
    transform: translate(-50%);
    bottom: -100px;
  }
}
@media (max-width: 560px) {
  .partners__video {
    width: 100%;
    height: 550px;
    padding: 0 -20px;
  }
}
.partners__video .btn-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}
.partners__training {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 635px;
  padding: 40px 40px 100px;
  border-width: 2.5px 0 2.5px 0;
  border-radius: 50px;
}
@media (max-width: 992px) {
  .partners__training {
    height: 500px;
  }
}
@media (max-width: 650px) {
  .partners__training {
    height: 275px;
    padding: 25px;
  }
}
.partners__training:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -220px;
  width: 100%;
  height: 220px;
  background: url("../images/streams-revers.png") no-repeat center/cover;
}
@media (max-width: 992px) {
  .partners__training:after {
    height: 120px;
    bottom: -120px;
  }
}
.partners__training__frog {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top right;
  border-radius: 50px;
  z-index: 0;
}
.partners__training__wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
@media (max-width: 650px) {
  .partners__training__wrapper {
    width: 200px;
  }
}
.partners__training__title {
  z-index: 10;
}
@media (max-width: 650px) {
  .partners__training__title {
    text-align: start;
  }
}
.partners__training__subtitle {
  position: relative;
  font-family: Roboto, sans-serif;
  font-size: 58px;
  font-weight: 700;
  line-height: 67px;
  width: 70%;
  margin-bottom: 70px;
}
@media (max-width: 1150px) {
  .partners__training__subtitle {
    width: 90%;
  }
}
@media (max-width: 992px) {
  .partners__training__subtitle {
    font-size: 36px;
    line-height: 40px;
  }
}
@media (max-width: 800px) {
  .partners__training__subtitle {
    font-family: Roboto, sans-serif;
    font-size: 22px;
    line-height: 23px;
    width: 100%;
    margin-bottom: 40px;
  }
}
.partners__training__subtitle span {
  color: rgb(34, 178, 154);
}
.partners__training .btn-main {
  width: 330px;
  margin-left: 25px;
}
@media (max-width: 992px) {
  .partners__training .btn-main {
    width: 220px;
  }
}
@media (max-width: 650px) {
  .partners__training .btn-main {
    display: none;
  }
}

.offers {
  position: relative;
}
.offers__casino-phone {
  display: none;
}
@media (max-width: 992px) {
  .offers__casino-phone {
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
    padding: 15px;
    max-width: 400px;
    height: 225px;
    background: url("../images/casino-phone.png") no-repeat center/contain;
  }
  .offers__casino-phone img {
    width: 312px;
  }
}
.offers__casino {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 45px;
  width: 100%;
  border-radius: 40px;
  background: url("../images/casino.png") no-repeat center/cover;
  margin-bottom: 65px;
}
.offers__casino::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 120px;
  bottom: -120px;
  left: 0;
  background: url("../images/streams-revers.png") no-repeat center/cover;
}
@media (max-width: 992px) {
  .offers__casino::after {
    display: none;
  }
}
@media (max-width: 992px) {
  .offers__casino {
    background: transparent;
    padding: 0;
  }
}
.offers__casino__web-bloc {
  display: block;
}
@media (max-width: 992px) {
  .offers__casino__web-bloc {
    display: none;
  }
}
.offers__casino__text {
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 25.2px;
  text-align: center;
  margin-bottom: 35px;
}
.offers__casino__text span {
  color: rgb(34, 178, 154);
}
.offers__casino__phone-bloc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.offers__items {
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}
@media (max-width: 992px) {
  .offers__items {
    gap: 10px;
  }
}
.offers__item {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 15px;
  width: 275px;
  height: 170px;
  text-align: center;
  border-width: 2.5px 0 2.5px 0;
  backdrop-filter: blur(10px);
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}
@media (max-width: 992px) {
  .offers__item {
    width: 230px;
    padding: 10px;
  }
}
@media (max-width: 510px) {
  .offers__item {
    width: 100%;
  }
}
.offers__item.offers__item--link {
  box-shadow: 0 0 10px 10px rgba(216, 88, 248, 0.3);
  background: linear-gradient(-55deg, #DB2EFE 8.22%, #6C37B1 57.47%, #430877 125.48%);
}
.offers__item.offers__item--link h2 {
  font-family: AA Duke;
  font-size: 48px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0.005em;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 992px) {
  .offers__item.offers__item--link h2 {
    font-saize: 40px;
    line-height: 40px;
  }
}
.offers__item.offers__item--link span {
  font-family: AA Duke;
  font-size: 64px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 0.5px #fff;
  text-stroke: 0.5px #fff;
}
@media (max-width: 992px) {
  .offers__item.offers__item--link span {
    font-saize: 40px;
    line-height: 40px;
  }
}
.offers__item.offers__item--link::before {
  content: "";
  width: 80px;
  height: 80px;
  position: absolute;
  top: auto;
  left: auto;
  bottom: -30px;
  right: -66px;
  background: url("../images/hand-icon.png") no-repeat center/cover;
  opacity: 1;
  z-index: -1;
}
.offers__item:hover {
  transition: 0.3s all ease-in-out;
  scale: 105%;
}
.offers__item:before {
  content: "";
  position: absolute;
  top: 35px;
  left: 50%;
  transform: translateX(-50%);
  width: 130px;
  height: 110px;
  background: url("../images/web-small.png") no-repeat center/contain;
  z-index: 0;
  opacity: 0.7;
}
@media (max-width: 992px) {
  .offers__item:before {
    top: -23px;
    background: url("../images/web-small-phone.png") no-repeat center/contain;
  }
}
.offers__item img {
  width: 80px;
  height: 80px;
  z-index: 10;
}
.offers .offers__item__text {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20.16px;
  text-align: center;
}
.offers .btn-opacity,
.offers a .btn-opacity {
  width: 300px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reviews {
  padding: 100px 0;
  position: relative;
  width: 100%;
  border-width: 2.5px 0 2.5px 0;
  overflow: hidden;
}
@media (max-width: 992px) {
  .reviews {
    padding: 40px 0;
  }
}
.reviews__slider {
  margin-bottom: 40px;
}
.reviews__slide {
  width: 410px;
  border-width: 2.5px 0 2.5px 0;
  padding: 30px;
}
@media (max-width: 650px) {
  .reviews__slide {
    width: 350px;
    padding: 15px;
  }
}
@media (max-width: 430px) {
  .reviews__slide {
    width: 300px;
    padding: 10px;
  }
}
.reviews__slide__avatar {
  display: block;
  margin: 0 auto;
  width: 86px;
  height: 86px;
  border-radius: 100%;
  margin-bottom: 22px;
}
.reviews__slide__name {
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.reviews__slide__status {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: rgb(34, 178, 154);
  margin-bottom: 5px;
}
.reviews__slide__data {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.64px;
  text-align: center;
  margin-bottom: 20px;
}
.reviews__slide__descr {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
}
.reviews .btn-opacity,
.reviews a.btn-opacity {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 316px;
}
@media (max-width: 1340px) {
  .reviews .container {
    padding: 0;
  }
}

.our-blog {
  margin-top: -120px;
  position: relative;
  overflow: hidden;
}
@media (max-width: 992px) {
  .our-blog {
    margin-top: -60px;
  }
}
.our-blog__slider {
  margin-bottom: 30px;
}
.our-blog .btn-opacity,
.our-blog a.btn-opacity {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.our-blog .all-articles {
  max-width: 390px;
}

.partner-search {
  padding-top: 120px;
}
@media (max-width: 992px) {
  .partner-search {
    padding-top: 80px;
  }
}
.partner-search__slide {
  position: relative;
  display: flex;
}
.partner-search__slide-img {
  object-fit: cover;
  object-position: center;
}
.partner-search__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}
.partner-search__slide-element {
  position: relative;
  width: 100%;
}
.partner-search__slide-element img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.partner-search__slide-title {
  position: absolute;
  top: 110px;
  left: 70%;
  transform: translateX(-50%);
  font-family: Roboto;
  font-size: 46px;
  font-weight: 800;
  line-height: 53.91px;
  text-transform: uppercase;
}
.partner-search__slide-title--left {
  top: auto;
  left: 30%;
  bottom: 150px;
}
.partner-search__slide-title::before {
  content: "";
  position: absolute;
  top: -10px;
  right: 0;
  width: 60%;
  height: 2px;
  background-color: rgb(34, 178, 154);
}
.partner-search__slide-title::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 60%;
  height: 2px;
  background-color: rgb(34, 178, 154);
}
.partner-search__slide-title::first-letter {
  color: rgb(34, 178, 154);
}

.elemet-1 {
  grid-column: 1/2;
  grid-row: 1/2;
}

.elemet-2 {
  grid-column: 2/3;
  grid-row: 1/2;
}

.elemet-3 {
  grid-column: 1/2;
  grid-row: 2/3;
}

.elemet-4 {
  grid-column: 2/3;
  grid-row: 2/3;
}

.partner-search-slider-web {
  display: block;
}
@media (max-width: 992px) {
  .partner-search-slider-web {
    display: none;
  }
}

.partner-search-slider-phone {
  display: none;
}
@media (max-width: 992px) {
  .partner-search-slider-phone {
    display: block;
  }
}

.entry {
  position: relative;
  background-size: cover;
}
@media (max-width: 992px) {
  .entry {
    background-image: none !important;
  }
}
.entry.registration {
  background-image: url("../images/reg_bg.png");
}
.entry.registration .select-wrapper::after {
  display: none;
}
.entry.login {
  background-image: url("../images/login_bg.png");
}
.entry .container {
  max-width: 690px;
}
.entry .title {
  font-size: 96px;
  line-height: 96px;
  margin-bottom: 0;
}
@media (max-width: 992px) {
  .entry .title {
    font-size: 52px;
    line-height: 52px;
  }
}
@media (max-width: 992px) {
  .entry .title span {
    font-size: 48px;
    line-height: 48px;
  }
}
.entry .text-login {
  position: relative;
  z-index: 1;
  padding: 70px 0 0;
}
@media (max-width: 992px) {
  .entry .text-login {
    padding: 50px 0 0;
  }
}
.entry .success_img {
  max-width: 298px;
  margin: 33px auto 24px;
}

.form {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
}
.form__input {
  width: 100%;
  font-family: Roboto, sans-serif;
}
.form__input::placeholder {
  color: #fff;
  text-align: center;
}
.form input:not([type=radio]) {
  border-width: 2.5px 0px 2.5px 0px;
  height: 74px;
  padding: 0 30px;
  outline: none;
}
.form input:not([type=radio]):focus {
  border-color: #22ac97;
}
.form textarea {
  font-family: Roboto, sans-serif;
  border-width: 2.5px 0px 2.5px 0px;
  resize: none;
  width: 100%;
  margin-top: 20px;
  height: 195px;
  padding: 30px;
  outline: none;
}
@media (max-width: 992px) {
  .form textarea {
    margin-top: 16px;
    height: 160px;
  }
}
.form textarea::placeholder {
  color: #fff;
  text-align: center;
}
.form textarea:focus {
  border-color: #22ac97;
}
.form .select-wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 25px;
  border-width: 2.5px 0px 2.5px 0px;
}
.form .select-wrapper.open {
  border-color: #22ac97;
}
.form .select-wrapper .select-text {
  position: relative;
  width: max-content;
  margin: auto;
  cursor: pointer;
}
.form .select-wrapper .select-text::after {
  content: "";
  position: absolute;
  right: 30px;
  top: 0;
  bottom: 0;
  right: -30px;
  margin: auto;
  background-image: url("data:image/svg+xml,%3Csvg width='15' height='8' viewBox='0 0 15 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.0413 1.125L7.49967 6.66667L1.95801 1.125' stroke='%2322AC97' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  width: 19px;
  height: 9px;
  background-size: contain;
  background-repeat: no-repeat;
  transition: 0.5s;
}
.form .select-wrapper .select-text.open::after {
  content: "";
  transform: rotate(180deg);
  transition: 0.5s;
}
.form .select-wrapper .form__checkbox-grid {
  justify-items: flex-start;
  display: none;
}
.form .select-wrapper .form__checkbox-grid[style*="display: block"] {
  display: grid !important;
  column-gap: 20px;
  padding-left: 30px;
}
.form__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  flex-wrap: nowrap;
}
@media (max-width: 992px) {
  .form__grid {
    grid-template-columns: 1fr;
    gap: 16px;
  }
}
.form__flex {
  margin-top: 20px;
}
@media (max-width: 992px) {
  .form__flex {
    margin-top: 16px;
  }
}
.form__radio-box {
  display: flex;
  align-items: center;
}
@media (max-width: 992px) {
  .form__radio-box {
    margin: 20px 0;
  }
}
.form__radio-box label {
  width: max-content;
}
.form__checkbox-box {
  margin: 40px 0 20px;
}
@media (max-width: 992px) {
  .form__checkbox-box {
    margin: 20px 0 16px;
  }
}
.form__checkbox-grid {
  margin-top: 6px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.form__checkbox-grid label {
  margin-top: 14px;
  width: max-content;
}
.form .btn-main {
  margin: 70px auto 0;
  width: 100%;
  max-width: 400px;
  font-family: "Days One", sans-serif;
  box-shadow: none !important;
}
@media (max-width: 992px) {
  .form .btn-main {
    margin: 50px auto 0;
  }
}
@media (max-width: 576px) {
  .form .btn-main {
    width: calc(100vw - 90px);
  }
}

.text {
  font-size: 18px;
  line-height: 22px;
  font-family: Roboto, sans-serif;
}

.text-login {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #c6c8d9;
}
.text-login a {
  color: rgb(34, 172, 151);
}

.forgot__password {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.16px;
  text-align: center;
  color: #22ac97;
  margin-top: 16px;
}

.btn__login {
  max-width: 298px !important;
}

.frog__login {
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 566px;
}
@media (max-width: 992px) {
  .frog__login {
    display: none;
  }
}

.password-field {
  position: relative;
}

.password-field svg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 30px;
  margin: auto;
  cursor: pointer;
  opacity: 0.3;
}
.password-field svg path {
  stroke: #c6c8d9;
}

/* для элемента input c type="radio" */
.custom-radio > input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

/* для элемента label связанного с .custom-radio */
.custom-radio > span {
  display: inline-flex;
  align-items: center;
  user-select: none;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.16px;
  color: #C6C8D9;
}

/* создание в label псевдоэлемента  before со следующими стилями */
.custom-radio > span::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #c6c8d9;
  border-radius: 50%;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

/* стили при наведении курсора на радио */
/* стили для активной радиокнопки (при нажатии на неё) */
/* стили для радиокнопки, находящейся в фокусе */
/* стили для радиокнопки, находящейся в фокусе и не находящейся в состоянии checked */
/* стили для радиокнопки, находящейся в состоянии checked */
.custom-radio > input:checked + span::before {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='16' height='16' rx='8' fill='%2322AC97'/%3E%3C/svg%3E%0A");
  background-size: 72%;
}

/* стили для радиокнопки, находящейся в состоянии disabled */
.custom-radio > input:disabled + span::before {
  background-color: #e9ecef;
}

/* для элемента input c type="checkbox" */
.custom-checkbox > input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

/* для элемента label, связанного с .custom-checkbox */
.custom-checkbox > span {
  display: inline-flex;
  align-items: center;
  user-select: none;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.64px;
  color: #c6c8d9;
}

/* создание в label псевдоэлемента before со следующими стилями */
.custom-checkbox > span::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #c6c8d9;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

/* стили при наведении курсора на checkbox */
/* стили для активного чекбокса (при нажатии на него) */
/* стили для чекбокса, находящегося в фокусе */
/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
/* стили для чекбокса, находящегося в состоянии checked */
.custom-checkbox > input:checked + span::before {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='16' height='16' fill='%2322AC97'/%3E%3C/svg%3E%0A");
  background-size: 74%;
}

/* стили для чекбокса, находящегося в состоянии disabled */
.custom-checkbox > input:disabled + span::before {
  background-color: #e9ecef;
}

.breadcrumbs {
  font-family: Roboto, sans-serif;
  position: absolute;
  left: 55px;
  z-index: 5;
  top: -80px;
}
.breadcrumbs .breadcrumb-item a {
  color: #22AC97;
}
.breadcrumbs .breadcrumb-item.active, .breadcrumbs .breadcrumb-item::before {
  color: #9B9B9B;
}

.section-article {
  background-image: url("../images/article_bg_img.png");
  background-size: cover;
  background-position: 68% bottom;
}

.article {
  display: flex;
  flex-direction: column;
  gap: 90px;
}
@media (max-width: 992px) {
  .article {
    gap: 60px;
  }
}
.article-meta {
  border-width: 2.5px 0px 2.5px 0px;
  height: 74px;
  margin: 26px 0 40px;
  padding: 16px 30px;
  background-color: rgb(44, 36, 67);
}
@media (max-width: 992px) {
  .article-meta {
    flex-direction: column;
    gap: 20px;
    height: auto;
    padding: 16px 20px;
  }
}
.article__main-image {
  max-width: 525px;
  margin-right: 35px;
}
@media (max-width: 992px) {
  .article__main-image {
    max-width: 100%;
    margin-right: 0;
  }
}
.article__main-image img {
  width: 100%;
}
.article__image {
  max-width: 370px;
  margin-right: 0;
  margin-left: auto;
}
@media (max-width: 992px) {
  .article__image {
    max-width: 100%;
  }
}
.article .time {
  background: linear-gradient(339.93deg, #db2efe 8.22%, #6c37b1 57.47%, #430877 125.48%);
  box-shadow: 0px 3px 0px 0px rgba(255, 255, 255, 0.4);
  box-shadow: 0px -3px 0px 0px rgba(255, 255, 255, 0.4);
  box-shadow: 0px 0px 25.4px 0px #c02bea;
  padding: 5px 30px;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 17.64px;
  border-width: 2.5px 0px 2.5px 0px;
  border-radius: 5px;
}
@media (max-width: 992px) {
  .article .time {
    width: 50%;
    text-align: center;
  }
}
@media (max-width: 576px) {
  .article .time {
    width: 100%;
  }
}
.article .text {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.16px;
  color: #c6c8d9;
}
@media (max-width: 992px) {
  .article .text {
    width: 50%;
    text-align: center;
  }
}
.article .text-author {
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 25.2px;
  color: #fff;
}
@media (max-width: 576px) {
  .article .text-author {
    width: 100%;
  }
}
.article p {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.24px;
  margin-top: 20px;
}
.article p a {
  color: #22ac97;
  text-decoration: underline;
}
.article ul {
  list-style-type: disc;
}
.article ul, .article ol {
  padding-left: 15px;
}
.article ul li, .article ol li {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 22.24px;
  margin-top: 20px;
}
.article ul li a, .article ol li a {
  color: #22ac97;
  text-decoration: underline;
}
.article__title {
  font-family: Roboto, sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 44.48px;
  color: #fff;
}

.btn-share {
  padding: 0;
}

.btn-share svg {
  border-radius: 50%;
  box-shadow: 0px 0px 18.1px 0px rgba(34, 172, 151, 0.7098039216);
}

.actions {
  background: linear-gradient(90deg, #22b36f 0%, #d0263c 100%);
  border-radius: 90px;
  padding: 9px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  box-shadow: 0px 0px 18.1px 0px rgba(34, 172, 151, 0.7098039216);
  gap: 28px;
}
.actions__bg {
  position: absolute;
  left: -16px;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 0;
  object-fit: contain;
  max-width: 250px;
}
.actions__divider {
  width: 1px;
  height: 32px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  background-color: #fff;
  opacity: 0.28;
}
.actions span {
  position: relative;
  z-index: 2;
  font-family: Roboto, sans-serif;
}

.reviewsPage .sort {
  margin-top: 64px;
}
@media (max-width: 992px) {
  .reviewsPage .sort {
    margin-top: 30px;
  }
}
.reviewsPage__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 40px;
  column-gap: 16px;
  row-gap: 32px;
}
@media (max-width: 992px) {
  .reviewsPage__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .reviewsPage__grid {
    grid-template-columns: 1fr;
    row-gap: 20px;
  }
}
.reviewsPage__grid .reviews__slide {
  min-height: auto;
}
.reviewsPage .pagination {
  margin-top: 32px;
}
@media (max-width: 992px) {
  .reviewsPage .pagination {
    margin-top: 30px;
  }
}

.sort {
  border-width: 2.5px 0px 2.5px 0px;
  height: 74px;
  padding: 0 30px;
}
.sort .form-select {
  background: none;
  border: none;
  outline: none;
}
.sort .form-select:focus {
  box-shadow: none;
}
.sort .text {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.16px;
}
.sort .form-select {
  color: #22AC97;
  font-weight: 500;
  font-family: Roboto, sans-serif;
  min-width: max-content;
}
.sort .form-select option {
  font-size: 16x;
  background-color: #27223c;
}

.pagination {
  border-width: 2.5px 0px 2.5px 0px;
  height: 74px;
  padding: 0 30px;
}
.pagination .text {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20.16px;
}
.pagination__list li {
  cursor: pointer;
}
@media (max-width: 768px) {
  .pagination__list li:first-child svg, .pagination__list li:last-child svg {
    width: 30px;
  }
}
.pagination__list li:not(:first-child, :last-child) {
  border: 1px solid #747474;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 768px) {
  .pagination__list li:not(:first-child, :last-child) {
    width: 30px;
    height: 30px;
  }
}
.pagination__list li:not(:first-child, :last-child).active {
  color: #22ac97;
}

.section-blog {
  position: relative;
  width: 100%;
  height: 100%;
  background: url("../images/blog-bg.jpg") no-repeat center/cover;
}
.section-blog::after {
  content: "";
  width: 100%;
  height: 420px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: url("../images/streams-revers.png") no-repeat center/cover;
  transform: rotate(-180deg);
  z-index: 1;
}

.blogPage__sort {
  width: 100%;
  height: 74px;
  padding: 20px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-width: 2.5px 0 2.5px 0;
  border-radius: 15px;
  margin-bottom: 40px;
}
.blogPage__title {
  margin-bottom: 40px;
}
.blogPage__sort-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.16px;
  text-align: center;
  background: transparent;
  border: none;
}
.blogPage__sort-btn::before {
  content: "";
  width: 35px;
  height: 35px;
  background: url("../images/sort-icon.svg") no-repeat center/cover;
}
.blogPage__sort-btn::after {
  content: "";
  width: 15px;
  height: 8px;
  border-top: 0;
  background: url("../images/arr-down.svg") no-repeat center/cover;
}
@media (max-width: 530px) {
  .blogPage__sort-btn::after {
    display: none;
  }
}
.blogPage__sort-btn h3 {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.16px;
  text-align: center;
}
@media (max-width: 530px) {
  .blogPage__sort-btn h3 {
    display: none;
  }
}
.blogPage__sort-btn span {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 20.16px;
  text-align: center;
  font-weight: 500;
  color: rgb(34, 178, 154);
}
@media (max-width: 530px) {
  .blogPage__sort-btn span {
    display: none;
  }
}
.blogPage__count {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.16px;
  text-align: center;
}
.blogPage__count span {
  color: rgb(34, 178, 154);
}
.blogPage__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 40px;
}
@media (max-width: 1120px) {
  .blogPage__wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 800px) {
  .blogPage__wrapper {
    grid-template-columns: 1fr;
  }
}

* {
  color: rgb(249, 250, 251);
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
}

a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: rgb(34, 178, 154);
  transition: 0.3s all ease-in-out;
}

body {
  position: relative;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #0F0926;
}

.section-body {
  padding: 250px 0 155px;
}
@media (max-width: 992px) {
  .section-body {
    padding: 158px 0 50px;
  }
}

.select-wrapper {
  position: relative;
  gap: 10px;
}

.select-wrapper::after {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.6673 1L6.00065 5.66667L1.33398 1' stroke='%2322AC97' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  width: 10px;
  height: 5px;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 20px;
}

.text-green {
  color: #22AC97;
}

/*# sourceMappingURL=main.css.map */
